@CHARSET "UTF-8";

/* Remove the navbar's default margin-bottom and rounded borders */
.content {
	font-family: "Times New Roman";
	text-align: justify;
	line-height: 25px;
}

.navbar-nav {
	padding-left: 5%;
}

.navbar {
	/*background-color:black;*/
	padding-left: 10%;
	position: relative;
	margin-bottom: 0;
	border-radius: 0;
	font-family: "Times New Roman";
	font-size: 18px;
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 20px;
	font-weight: bold;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	position: relative;
	padding-top: 100%;
	background-color: black;
	background-image:
		url(https://pixabay.com/static/uploads/photo/2014/11/29/17/46/background-550492_960_720.jpg);
}

.img_me {
	positions: relative;
}

.quake {
	positions: relative;
}

.spiele img {
	positions: relative;
	height: 100px;
	width: 100px;
}
/* Set black background color, white text and some padding */
footer {
	background-color: black;
	color: black;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
	header {
		height: 270px;
	}
	.quake {
		height: 33%;
		width: 50%;
	}
	.img_me {
		height: 30%;
		width: 50%;
	}

	/*
	
	
	ARSnova Statistics - Format
	
	
	*/
	.arsnova {
		width: 50%;
	}
	.arsnova td {
		font-size: 20px;
		font-weight: bolt;
	}
	.circle2 {
		width: 80px;
		height: 80px;
		border-radius: 20px 5px 20px 5px;
		/* top left, top right, bottom right, bottom left */
	}
	.circle {
		width: 80px;
		height: 80px;
		border-radius: 5px 20px 5px 20px;
		/* top left, top right, bottom right, bottom left */
	}
	#answers, #lectureQuestions, #preparationQuestions, #openSessions,
		#closedSessions, #creators, #activeUsers, #activeStudents,
		#loggedinUsers, #interposedQuestions, #conceptQuestions, #questions,
		#sessions {
		text-align: center;
		line-height: 80px;
	}
	.green {
		background-color: #3d9c19;
	}
	.grey {
		background-color: #394a59;
		color: white;
	}
	.orange {
		background-color: #ff9600;
		text-align: center;
		line-height: 80px;
	}
	.text {
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		line-height: normal;
		display: inline-block;
		vertical-align: middle;
	}
	.search {
		width: 70%;
	}
}